################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs
/LearnOpenGl/x64/Debug
/packages/Assimp.3.0.0
/packages/Assimp.redist.3.0.0/build
/packages/Assimp.redist.3.0.0
